h1,h2{
  text-align: center;
}
.content{
  padding-top: 15%;
}
.blur
{
  backdrop-filter: blur(5px);
}
body{
  background-image: url(../Images/pexels-lukas-669610.jpg);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ejsbut{
  margin-top: 5%;
  margin-left: 45%;
}
#myDIV{
  display: none;
}
#myDIV1{
  display: none;
}
input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
.striked{
  text-decoration: line-through;
}