body{
  background-color: aquamarine;
}
h1{
  padding-top: 10%;
  text-align: center;
}
#buttons{
  padding-top: 15%;
  padding-left :25%;
  margin-right :auto;

}
#buttons1{
  padding-top: 15%;
  padding-left :25%;
  margin-right :auto;

}